@import '../sass/Variables.scss';

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
.search-container {
    margin: 16px;
    height: 46px;
    display: flex;
    input {
        background-color: $secondary-color;
        box-shadow: #00000014 0px 0px 0px;
        color: $primary-font-color;
        border-radius: 16px;
        border: none;
        height: 46px;
        width: calc(100% - 46px);
        padding: 4px 10px 4px 16px;
        margin-right: 12px;
        font-size: 18px;
        outline: none;
        &.error {
            background-color: $red;
            color: $primary-color;
            &::-webkit-input-placeholder {
                color: $primary-color;
            }
            &::-webkit-search-cancel-button {
                background-image: url('../assets/icons/close-dark-icon.svg');
            }
        }
        &::-webkit-input-placeholder {
            color: $secondary-font-color;
        }
        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
            height: 24px;
            width: 24px;
            background-image: url('../assets/icons/close-light-icon.svg');
            background-repeat: no-repeat;
            cursor: pointer;
        }
    }
    button {
        padding: 8px;
        border-radius: 16px;
        border: none;
        cursor: pointer;
        font-size: 20px;
        color: $secondary-color;
        background-color: $primary-font-color;
        box-shadow: #00000014 0px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .search-icon {
            &.rotate {
                animation: rotate 1.5s linear infinite;
            }
        }
        &.not-allow {
            pointer-events: none;
        }
    }
}
