.air-info-container {
    margin: 16px;
    margin-top: 32px;
    border-radius: 16px;
    background-color: #202b3b;
    box-shadow: #00000014 0px 0px 0px;
    padding: 22px 22px 6px 22px;
    height: calc(40% - 60px);
    max-height: 250px;
    & .title {
        text-transform: uppercase;
        color: #9399a2ff;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 16px;
    }
    & .info-container {
        height: calc(100% - 56px);
        .top-container,
        & .bottom-container {
            display: flex;
            align-items: center;
            height: 50%;
        }
        & .middle-container {
            display: flex;
            height: 1px;
            & .wrapper {
                width: 33%;
            }
        }
        & .wind-speed-container,
        & .humidity-container,
        & .pressure-container,
        & .sunrise-container,
        & .sunset-container {
            color: #c4cad3ff;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 600;
            width: 33%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            height: 50%;
            & .title {
                width: fit-content;
                background-color: #35455e;
                padding: 4px 12px;
                border-radius: 16px;
                margin: 0px;
                text-transform: capitalize;
                & .fa-solid,
                & .fa-regular {
                    margin-right: 8px;
                }
            }
            & .wrapper {
                text-transform: none;
            }
        }
    }
}
