.d-flex {
    display: flex;
}
.align-items {
    align-items: center;
}
.justify-content {
    justify-content: center;
}
.d-flex-column {
    display: flex;
    flex-direction: column;
}
.main-container {
    background-color: #0b131e;
    width: calc(100vw - 36px);
    height: calc(100vh - 36px);
    color: #fff;
    padding: 18px;
    & .current-weather-info-container {
        width: 40%;
        height: 100%;
        overflow: auto;
    }
    & .forecast-and-air-container {
        width: 60%;
        height: 100%;
        overflow: auto;
    }
}
