.five-day-forecast-container {
    height: calc(60% - 60px);
    margin: 16px;
    margin-bottom: 32px;
    border-radius: 16px;
    background-color: #202b3b;
    box-shadow: #00000014 0px 0px 0px;
    padding: 22px 22px 6px 22px;
    max-height: 390px;
    & .title {
        text-transform: uppercase;
        color: #9399a2ff;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 16px;
    }
    & .forecast-container {
        & .info {
            display: grid;
            grid-template-columns: calc(40% - 30px) 10% 20% 30%;
            grid-template-rows: 60px;
            align-items: stretch;
            justify-items: stretch;
            grid-gap: 10px;
            border-bottom: 1px solid#35455e;
            border-radius: 2px;
            & .day {
                display: flex;
                align-items: center;
                color: #9399a2ff;
                font-size: 18px;
                font-weight: 500;
                & span {
                    width: fit-content;
                    background-color: #35455e;
                    padding: 4px 12px;
                    border-radius: 16px;
                }
            }
            & .description {
                color: #c4cad3ff;
                font-size: 18px;
                font-weight: 600;
            }
            & .icon,
            & .description {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            & .temp {
                color: #202b3b;
                font-size: 18px;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                & .temp-wrapper {
                    width: fit-content;
                    padding: 4px 12px;
                    border-radius: 16px;
                    color: #202b3b;
                    background-color: #dde0e4ff;
                    & .max {
                        color: #0b131e;
                        font-size: 18px;
                        font-weight: 600;
                    }
                }
            }
            &:last-child {
                border-bottom: none !important;
            }
        }
    }
}
